---
import MainLayout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Calendar from "../components/Calendar.astro";
import "../styles/css/calender.css";
---

<MainLayout>
  <div class="container">
    <h1>Calender</h1>
    <Calendar />
    <NavBar />
  </div>
</MainLayout>
