---
import MainLayout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/css/library.css";

const title = "Library";
---

<MainLayout>
  <div class="container">
    <h1>{title}</h1>
    <NavBar />
  </div>
</MainLayout>
